@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-image: radial-gradient(circle at top center, hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    margin: 0;
}

.outer {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at top center, hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    overflow: hidden;
}

.inner {
    width: 80%;
    margin: 50px auto;
    position: relative;
    min-height: 500px;
}

@media screen and (max-width: 676px) {
    .inner {
        width: 95%;
        margin-top: 10px;
    }
}

.name {
    color: #ffffff;
    font-size: 40px;
    line-height: 0.8;
    text-transform: uppercase;
}

@media screen and (max-width: 676px) {
    .name {
        font-size: 22px;
    }
}

.scoreHolder {
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 676px) {
    .scoreHolder {
        padding: 7px;
    }
}

.scoreInner {
    text-align: center;
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 13px;
}

@media screen and (max-width: 676px) {
    .scoreInner {
        padding: 10px 15px;
    }
}

.scoreInner .label {
    font-size: 16px;
    letter-spacing: 2px;
}

@media screen and (max-width: 676px) {
    .scoreInner .label {
        font-size: 10px;
    }
}

.score {
    font-size: 50px;
}

@media screen and (max-width: 676px) {
    .score {
        font-size: 38px;
    }
}

.rulesButton {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    border: 3px solid rgba(255,255,255,0.5);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.rulesButton:hover {
    border: 3px solid rgba(255,255,255,1);
}

.buttonPicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/bg-triangle.svg);
    width: 580px;
    height: 500px;
    margin: auto;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.2s;
}

@media screen and (max-width: 676px) {
    .buttonPicker {
        width: 100%;
        height: 300px;
    }
}

.buttonPicker.hidden {
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
}

.buttonPicker .buttonHolder {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameButton {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.2s;
}

@media screen and (max-width: 676px) {
    .gameButton {
        width: 100px;
        height: 100px;
    }
}

.buttonPicker .gameButton:hover {
    transform: translateY(-7px);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

#paper.gameButton {
    background-image: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

#scissors.gameButton {
    background-image: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

#rock.gameButton {
    background-image: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.ringWhite {
    margin: 20px;
    background-color: #fff;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 676px) {
    .ringWhite {
        margin: 0;
    }
}

.resultsModal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -30%);
    opacity: 0;
    background: transparent;
    color: #ffffff;
    padding: 50px;
    transition-duration: 0.2s;
    pointer-events: none;
    text-transform: uppercase;
    text-align: center;
}

.resultsModal.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: all;
}

.resultsModal .gameButton {
    cursor: auto;
}

.winStatus {
    color: #ffffff;
    font-size: 40px;
    line-height: 0.8;
}

.playAgain {
    z-index: 10;
}

@media screen and (max-width: 676px) {
    .playAgain {
        order: 3;
        margin-top: 30px;
    }
}

.playAgainButton {
    margin-top: 15px;
    padding: 11px;
    background-color: #ffffff;
    color: black;
    border-radius: 7px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.playAgainButton:hover {

    border: 3px solid rgba(255,255,255,1);
    
}

.pickOuter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 676px) {
    .pickOuter {
        flex-wrap: wrap;
    }
}

.pickOuter .pickInner {
    text-align: center;
}

@media screen and (max-width: 676px) {
    .pickOuter .pickInner {
        padding-left: 0!important;
        padding-right: 0!important;
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

.pickOuter .pickInner .pick {
    margin-top: 20px;
}

.pickOuter .pickInner:first-child {
    padding-right: 20px;
}

.pickOuter .pickInner:last-child {
    padding-left: 20px;
}

@media screen and (max-width: 676px) {
    .pickOuter .pickInner .heading {
        margin-top: 15px;
    }
}

.gameButton.won::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(rgb(255 255 255 / 0.07) 0%, rgb(255 255 255 / 0.07) 50%, rgb(255 255 255 / 0.05) 50%, rgb(255 255 255 / 0.05) 60%, rgb(255 255 255 / 0.01) 60%, rgb(255 255 255 / 0.01) 70%, transparent 70%);
    z-index: -1;
}


.rulesModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    opacity: 0;
    background: #ffffff;
    padding: 50px;
    transition-duration: 0.2s;
    pointer-events: none;
    border-radius: 10px;
}

@media screen and (max-width: 676px) {
    .rulesModal {
        position: absolute;
        top: -10px;
        left: -8px;
        transform: translate(0%, 0%);
        padding: 16px;
        border-radius: 0px;
    }
    
}

.rulesModal img {
    max-width: 100%;
}

.rulesModal.active {
    /* transform: translate(-50%, -50%); */
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 676px) {
    .rulesModal {
        position: absolute;
        top: -10px;
        left: -8px;
        transform: translate(0%, 0%);
        padding: 16px;
        border-radius: 0px;
        width: 106%;
        height: 100vh;
        box-sizing: border-box;
    }
    
}

.modalHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    color: #171c3f;
    font-size: 40px;
    line-height: 0.8;
    text-transform: uppercase;
}

.close {
    padding: 9px;
    border: 3px solid rgb(220 220 220);
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
}